<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/styles.css"> 

</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    
    <main>
        <canvas id="gameCanvas"></canvas>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/8.1.0/pixi.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/dist/bundle.js"></script>
</body>
</html>